<%= render 'admin/nav'%> 
<div class = "container">
 <div class = "raw title">
  <h4>新規商品登録</h4>
 </div>
 
  <%= form_with model: @item, url: admin_items_new_path, local: true do |f| %>
   <div class ="row ">
     <table class = "table col-md-8 title mx-auto">
      <tbody>
        <tr>
          <td ><%= f.label "商品画像" %></td>
          <td ><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <td ><%= f.label "商品名" %></td>
          <td ><%= f.text_field :name, :placeholder => "商品名",:size =>"40x10"  %></td>
        </tr>
        <tr>
          <td ><%= f.label "商品説明" %></td>
          <td ><%= f.text_area :introduction, :placeholder => "ここに説明文を記述します" ,:size =>"40x10" %></td>
        </tr>
        <tr>
          <td ><%= f.label "ジャンル" %></td>
          <td ><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "--選択して下さい--",:size =>"40"  %></td>
        </tr>
        <tr>
          <td ><%= f.label "税抜き価格" %></td>
          <td ><%= f.text_field :price , :placeholder => "1000"  %> 円</td>
        </tr>
        <tr>
          <td ><%= f.label "販売ステータス" %></td>
          <td >  
              <%= f.radio_button :is_active, true , checked: true %>
              <%= f.label :is_active, "販売中", {value: true, style: "display: inline-block;"} %>
              <%= f.radio_button :is_active, false %>
              <%= f.label :is_active, "販売停止中", {value: false, style: "display: inline-block;"} %>
          </td>
        </tr>
      </tbody>
     </table>
   </div>
   <div class = "row">
    <div class = "col-2 mx-auto" >
        <%= f.submit "新規登録",class: 'btn btn-sm btn-success btn-sm btn-block ' %>
    </div>
   </div>
  <% end %>
 
</div>