<%= render 'public/nav'%>
<div class = "container title">
  <div class="row title">
    <div class = "col-md-5 mx-auto">
      <% if flash[:error]%>
        <p class="alert alert-danger text-center">
          <%= flash[:error] %>
        </p>  
      <% end %>
    </div>
  </div>
  <div class="row">
      <h4>ログイン</h4>
  </div>
  
  <div class="row title">
    <p>会員の方はこちらからログイン</p>
  </div>
  
  <%= form_with model: @end_user, url: end_user_session_path, local: true do |f| %>
    <div class = "row field">
      <div class = "col-md-4">
        <%= f.label "メールアドレス" %>
      </div>
      <div class = "col-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    </div>
  
    <div class = "row field">
      <div class = "col-md-4">
        <%= f.label "パスワード" %>
      </div>
      <div class = "col-md-8">
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
    </div>
  
    <div class="btn-wrapper">
      <div class="row field">
        <div class = "col-3 offset-4">
          <%= f.submit "ログイン",class: 'btn btn-sm btn-primary btn-sm btn-block w-100px ' %>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="row title">
    <p>会員登録がお済みでない方</p>
  </div>
  <p><%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行ってください。</p>
</div>
