<%= render 'public/nav'%> 

<div class = "container">
  <div class="row title ">
    <div class = "col-3   offset-2 title">
     <%= image_tag @item.get_image(250,250) %> </br>
    </div>
    <div class = "col-4   title">
        <h3 class = "mx-auto"><%= @item.name %></h4>
        <p><%= @item.introduction %></p>
        <p><span style="font-size:150%;">¥ <%= @item.price %></span> (税込)</p>
    </div>
  </div>
    
  
  <%= form_with model: @cart_item, url: cart_items_path,  local: true do |f| %>
    <div class="row title ">
      <div class = "col-2 offset-5">
        <%= f.select :amount, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]], include_blank: "--選択して下さい--", :size =>"40"  %>
        <%= f.hidden_field :item_id, :value => @item.id %>
      </div>
      
      <div class = "col-2 " >
          <%= f.submit "カートに入れる",class: 'btn btn-sm btn-success btn-sm btn-block' %>
      </div>
  　</div>
  <% end %>


</div>
